node_modules
dist
dist-ssr
src-tauri/target
src-tauri/gen

.DS_Store
Thumbs.db
*.local
*.log
npm-debug.log*

.idea
.vscode/*
!.vscode/extensions.json

# кладётся скриптом copy-pdfjs перед dev и build
public/pdfjs/
